!include automations/connected_bulb_remotes.yaml
!include automations/moring_routine.yaml
!include automations/grandfather_clock.yaml
!include automations/presence_notify.yaml
!include automations/sync_volume_sliders.yaml

  # # Keep Google Home Alive
  # - alias: Keep Office Home Alive
  #   hide_entity: True
  #   trigger:
  #     platform: time
  #     minutes: '/2'
  #     seconds: 00
  #   condition:
  #     - condition: template
  #       value_template: >
  #         {% if is_state('media_player.whole_house', 'playing') %}
  #           false
  #         {%-elif is_state('media_player.main_floor', 'playing') %}
  #           false
  #         {%-elif is_state('media_player.office_home', 'playing') %}
  #           false
  #         {% else %}
  #           true
  #         {% endif %}
  #   action:
  #     service: media_player.play_media
  #     entity_id: media_player.office_home
  #     data:
  #       media_content_id: https://hassio.local:8123/local/1sec.mp3
  #       media_content_type: music