# TODO Alarm clock input_text with two fields for hour and minute
# TODO Build an automation for the yeelight to cycle through colors when the dimmer switches are pressed

homeassistant:
  name: Home
  latitude: !secret home_lat
  longitude: !secret home_lon
  elevation: 391
  unit_system: imperial
  time_zone: America/Chicago
  customize: !include customize.yaml
config:
  # base_url: example.duckdns.org:8123 # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
updater:
  include_used_components: true
discovery:
conversation:
history:
map:
logbook:
sun:
# mqtt:
python_script:
media_player: !include media_player.yaml
tts: !include tts.yaml
http: !include http.yaml
climate: !include climate.yaml
device_tracker: !include trackers.yaml
sensor: !include sensors.yaml
zone: !include zones.yaml
group: !include groups.yaml
automation: !include automations.yaml
cover: !include covers.yaml
wink: !include wink.yaml
google: !include google.yaml
panel_iframe: !include iframe.yaml
script: !include scripts.yaml
light: !include lights.yaml
input_number: !include input_number.yaml
camera: !include camera.yaml
notify: !include notify.yaml
alert: !include alert.yaml